@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in E-Sport</h1>
    <p>This is our e-sport page</p>
    <p>Authors: Jakub Hemmerling 128535 & Dawid Lewinski 128845</p>
</div>
